<form action="/figures" method="POST">
  <p>Name: <input type="text" name="figure[name]" id="figure_name"></p>

  <br><br/>
  <p>Titles</p>

  <% @title.each do |title| %>
    <input type ="checkbox" name ="figure[title_ids][]" value="<%=title.id%>" id="<%=title_.id%>"><%=title.name%></input>
  <% end %>

  <p>Create New Title:<input type="text" name="title[name]"></p>

  <p>Landmarks</p>
 <% @landmark.each do |landmark|%>
   <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="<%=landmark.id%>"><%=landmark.name%></input>
   <%end%>

   <p>Create New Landmark: <input type="text" name="landmark[name]"></p>
   <p>Year: <input type="text" name="landmark[year_completed]"></p>


  <input type="submit" value="Create New Figure">
</form>
