<h1>Create a new figure!</h1>

<h3>Enter Figure Name</h3>

<form method="POST" action="/figures">
  <input type="text" name="figure[name]" id="figure_name"></input>

<h3>Choose Titles</h3>

  <ul style="list-style-type:none; padding: 0">
  <% @titles.each do |title| %>
  <li><input type="checkbox" name="figure[title_ids][]"
    id="title_<%=title.id%>" value="<%=title.id%>">
    <%= title.name %></input></li>
  <% end %>
  </ul>

<h3>Create New Title</h3>
  <input type="text" name="title[name]" id="new_title"></input>

<h3>Choose Landmarks</h3>
  <ul style="list-style-type:none; padding: 0">
  <% @landmarks.each do |landmark| %>
  <li><input type="checkbox" name="figure[landmark_ids][]"
    id="landmark_<%=landmark.id%>" value="<%=landmark.id%>">
    <%= landmark.name %></input></li>
  <% end %>
  </ul>

<h3>Create New Landmark</h3>
  Name: <input type="text" name="landmark[name]" id="new_landmark">
  Year: <input type="number" name="landmark[year_completed]" id="landmark_year_completed">
  <br><br>


  <input type="submit" value="Create New Figure">

</form>
